<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		

	function getUser() {
		console.log("getUser called");
		var xhttp;
 		xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
  		if (this.readyState == 4 && this.status == 200) {
    		document.getElementById("demo").innerHTML = this.responseText;
  		}
			};
		xhttp.open("GET", "/logInUser?userName=billmaxer&password=Norway40065", true);
		xhttp.send(); 
	}
	</script>
</head>
<body>
	<p>Week 10 Test</p>

	<!--<% include ../partials/logIn.ejs %> -->

	<form action="javascript:getUser();">
		username:<br>
		<input type="text" name='userName'><br>
		password:<br>
		<input type="text" name='password'><br>
		<input type="submit" value="Submit">
	</form>

	<div id="demo"></div>


</body>