<!DOCTYPE html>
<html>
<head>
	<script>
		var x = <%=userName %>;
		console.log("X is " + x);
	</script>
</head>
<body>
	<p>Week 10 Test</p>

	<% include ../partials/logIn.ejs %>
	<div>

	</div>


</body>