<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<p>Week 10 Test</p>

	<form>
		username:<br>
		<input type="text" name='userName'><br>
		password:<br>
		<input type="text" name='password'><br>
		<input type="submit" value="Submit">
	</form>
	<% include ../partials/logIn.ejs %>

</body>